html,
body {
  width: 100vw;
  height: 100vh;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

#root {
  height: 100%;
  width: 100%;
}

.full-width-height {
  height: 100vh;
  width: 100%;
}

.container {
  width: 50vw;
  height: 100vh;
  padding: 16px;
}

.no-margin {
  margin: 0;
}

.display-flex {
  display: flex;
}

.fill {
  flex: 1;
}

.center {
  text-align: center;
}

.mt16 {
  margin-top: 16px;
}

.loading {
  height: 100vh;
  width: 100vw;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

@media only screen and (max-width: 1150px){
  .lefttop {
    padding-left: 2vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column !important;
    flex: 1;
  }

  .donutContainer {
    height: 25vh !important;
    width: 50vw !important;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  .donutText {
    position: absolute;
    top: 0;
    height: 25vh !important;
    width: 50vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .donut {
    height: 25vh !important;
    width: 50vw !important;
  }
  .parent {
    display: flex;
    overflow: auto !important;
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .parent {
    display: flex;
    flex-direction: column !important;
    overflow: auto !important;
    overflow-x: hidden !important;
  }

  .lefttop {
    padding-left: 2vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column !important;
    flex: 1;
  }

  .left {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
  }

  .right {
    width: 100vw !important;
  }

  .donutContainer {
    height: 50vw !important;
    width: 100vw !important;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  .donutText {
    position: absolute;
    top: 0;
    height: 50vw !important;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .leftdownbox {
    display: flex;
    flex-direction: column;
    margin-left: 2vw !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 2vw !important;
  }

  .tableelerowstate {
    padding-left: 5vw !important;
    width: 30vw !important;
  }

  .tableelerowconfirmed {
    width: 20vw !important;
  }

  .tableelerowactive {
    width: 20vw !important;
  }

  .tableelerowrecovered {
    width: 20vw !important;
  }

  .titlerowstate {
    padding-left: 5vw !important;
    width: 30vw !important;
  }

  .titlerowconfirmed {
    width: 20vw !important;
  }

  .titlerowactive {
    width: 20vw !important;
  }

  .titlerowrecovered {
    width: 20vw !important;
  }

  .container {
    width: 100vw !important;
    height: auto !important;
    padding: 16px;
  }

  .donut {
    height: 50vw !important;
    width: 100vw !important;
  }
}

.parent {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.left {
  width: 48vw;
  display: flex;
  flex-direction: column;
}

.lefttop {
  padding-left: 2vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.right {
  width: 100vw !important;
}

.donutContainer {
  height: 35vh;
  width: 15vw;
  position: relative;
  text-align: center;
  justify-content: center;
}

.donut {
  height: 35vh;
  width: 15vw;
}

.donutText {
  position: absolute;
  top: 0;
  height: 35vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftdownbox {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-bottom: 20px;
}

.titlerow {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 50px;
  align-items: center;
  color: orange;
}

.titlerowstate {
  padding-left: 2.5vw;
  width: 15vw;
}

.titlerowconfirmed {
  width: 10vw;
}

.titlerowactive {
  width: 10vw;
}

.titlerowrecovered {
  width: 10vw;
}

.tablele {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding-bottom: 20px;
}

.tableelerow {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.tableelerowstate {
  padding-left: 2.5vw;
  width: 15vw;
}

.tableelerowconfirmed {
  width: 10vw;
}

.tableelerowactive {
  width: 10vw;
}

.tableelerowrecovered {
  width: 10vw;
}

.toprightrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.rowelered {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0.2);
  justify-content: center;
  border-radius: 20px;
  border: 3px solid red;
}

.roweleblue {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 255, 0.2);
  justify-content: center;
  border-radius: 20px;
  border: 3px solid blue;
}

.rowelegreen {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 255, 0, 0.2);
  justify-content: center;
  border-radius: 20px;
  border: 3px solid green;
}

.rowelegrey {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.2);
  justify-content: center;
  border-radius: 20px;
  border: 3px solid grey;
}
